@import'Theme';

.grid_hero{
    display: grid;
    place-items: center;
    grid-template-columns: 50% 50%;
    margin-top: 10%;
    padding: 20px;
    >.col1 
    {
        margin-bottom: 20px;
        >h1{
            color: white;
            margin-bottom:40px;
            >span{
                color: rebeccapurple;
            }
        }
        >p{
            margin-top: 10px;
            color: $background2;
            margin-bottom: 30px;
        }
        >a{
            margin-top: 30px;
            margin-bottom: 30px;
            margin-left: 30px;
            color:white;
            text-decoration: none;
            width: 150px;
            padding:10px;
            height:30px;
            border: 1px solid rebeccapurple;
        }
    }
    >.col2{
        >.current_project{
            width:100%;
            display:grid;
            grid-template-columns: 10% 90%;
            place-items: center;
            border: 1px solid gray;
            height: 45px;
            >p{
                margin: 10px;
                color: $background2;
                >a{
                    color:$light;
                }
            }
            >div{
                margin-left: 20px;
                color:rebeccapurple;
                width:20px;
                height: 20px;
                background-color: rebeccapurple;
            }
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
    //tablet
    
}
@media only screen and (max-width: 767px){
    //mobile
    .grid_hero{
        display:grid;
        grid-column: 1;
        grid-template-columns: 100%;
        >.col2{
            >.img{
                width:300px;
            }
            >.current_project{
                width:100%;
                display:grid;
                grid-template-columns: 10% 90%;
                place-items: center;
                border: 1px solid gray;
                height: 45px;
                >p{
                    
                    font-size:10px;
                    color: $background2;
                    >a{
                        color:$light;
                    }
                }
                >div{
                    color:rebeccapurple;
                    width:20px;
                    height: 20px;
                    background-color: rebeccapurple;
                }
            }
        }
        
    }
        
}