@import 'Theme';
.container{
    background-color: $background1;
    display: grid;
    grid-template-columns: 10% 80% 10%;
      >.col1{
        background-color:$background1;
      }
      >.col2{
        background-color: $background1;

      }
      >.col3{
        background-color: $background1;
      }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){
  //tablet
  .container{
      display:grid;
      grid-column: 1;
      grid-template-columns: 100%;
      >.col1,.col3{
          display:none;
      }
  }
}
@media only screen and (max-width: 767px){
  //mobile
  .container{
      display:grid;
      grid-column: 1;
      grid-template-columns: 100%;
      >.col1,.col3{
        display:none;
    }
  }
}
