@import 'theme';
.card{
    background-color: $background1;
    width:300px;
    border: 1px solid gray;
    >img{
        width:200px;
        padding: 10px;
        border-radius: 30px;
    }
    >p{
        color: gray;
        text-align: center;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    h1{
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }
    h3{
        color: gray;
        text-align: center;
    }
    .btngroup{
        margin-top: 30px;
        margin-bottom: 10px;
        gap: 10px;
        display: grid;
        grid-template-columns: 100px 100px;
        place-content: center;
        .btn1,.btn2{
            display: grid;
            place-content: center;
            border: 1px solid gray;
            width: 100px;
            height:40px;
            >a{
                color: white;
            }
        }
        .btn1{
            border: 1px solid rebeccapurple;
            
        }
        .btn1:hover{
            background-color: rgb(138, 35, 241);
        }
        .btn2:hover{
            background-color: gray;
        }
    }
    }

@media only screen and (min-width: 768px) and (max-width: 1023px){
    .card{
        margin-left: 50px;
    }
    .btngroup{
        margin-top: 30px;
        margin-bottom: 30px;
        display: grid;
        place-content: center;
    }
}
@media only screen and (min-width: 300px){
    .card{
        place-items: center;
        width:250px;
        >img{
            width:250px;
        }
    }
    .btngroup{
        width:200px;
        margin-top: 30px;
        margin-left: 25px;
        margin-bottom: 30px;
        display: grid;
        place-content: center;
        >.btn1,.btn2{

            height: 20px;
        }
    }
}
