.card{
    width:100%;
    border: 1px solid gray;
    >img{
        width: 100%;
    }
    >p{
        color: gray;
        text-align: center;
        border-top: 1px solid gray;
        border-bottom: 1px solid gray;
    }
    h1{
        color: white;
        margin-bottom: 20px;
        text-align: center;
    }
    h3{
        color: gray;
        text-align: center;
    }
    .btngroup{
        display: grid;
        column-gap:35px;
        padding:5px;
        grid-template-columns:150px 150px;
        >.btn1,.btn2{
            width:150px;
            height:30px;
            padding: 5px;


            border: 1px solid gray;
            text-align: center;
            >a{
                color: white;
            }
        }
        .btn1{
            border: 1px solid rebeccapurple;
        }
    }
}

@media only screen and (min-width: 768px) and (max-width: 1023px){}
@media only screen and (max-width: 767px){}