.container_project{
    display: flex;
    >div{
        margin: auto;
    }
    >.hr{
        border: 1px solid rebeccapurple;
        width: 50%;
    }
    >.heading>h1{
        color: white;
        >span{
            color: rebeccapurple;
        }
    }
    >.viewproject{
        >a{
            color: white;
        }
    }
}
.project_grid{
    margin-top: 40px;
    height: 100%;
    justify-content: center;
    display: grid;
    gap:2%;
    grid-template-columns: 30% 30% 30%;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
// tablet
.heading>h1{
    font-size: 20px;
}
.viewproject>a{
    font-size: 12px;
}
.project_grid{
    height:180vh;
    justify-content: center;
    display: grid;
    gap:10px;
    grid-template-columns:48% 48%;
    }
}
@media only screen and (max-width: 767px){
    // mobile
    .heading>h1{
        font-size: 20px;
    }
    .viewproject>a{
        font-size: 12px;
    }
    .project_grid{
    margin-top:20px;
    justify-content: center;
    display: grid;
    gap:30px;
    grid-template-columns:60%;
    }
}