@import 'Theme';
.parent{
    display: flex;
    flex-direction: column;
    align-items: center;  
}
.firstdiv{
    text-align: center;
    margin-bottom: auto;
    display:flex;
    margin: auto;
    justify-content: center;
    width:50%;
    border: 1px solid gray;
    padding: 12px;
    >p{
        color: white;
    }
}
.seconddiv{
    >p{
        color: white;
        text-align: center;
    }
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 50px;
    align-self:center;
    margin-bottom: 40px;
    border-top:none;
    border-bottom: 1px solid gray;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    //tablet
    .parent{
        display:grid;
        grid-column: 1;
        grid-template-columns: 100%;
        place-items: center;
        >.firstdiv{
            width: 80vw;
            >.img1,.img2{
                width:30px;
                height: 30px;
            }
        }
        
    }
    
}
@media only screen and (max-width: 767px){
    //mobile
    .parent{
        display:grid;
        grid-column: 1;
        grid-template-columns: 100%;
        place-items: center;
        >.firstdiv{
            width: 80%;
            >.img1,.img2{
                width:30px;
                height: 30px;
            }
        }
        
    }
}
