.container_smallaboutme{
    margin-top: 20px;
    display: flex;
    >div{
        margin: auto;
    }
    >.hr{
        border: 1px solid rebeccapurple;
        width: 50%;
    }
    >.heading>h1{
        color: white;
        >span{
            color: rebeccapurple;
        }
    }
}
.grid_about{
    display:grid;
    grid-template-columns: 50% 50%;
    gap:20px;
    place-items: center;
    >.col1>p{
        margin-top: 50px;
        color: white;
        margin-bottom:20px;
    }
    a{
        color:rebeccapurple;
        border: 1px solid white;
        padding:10px;
    }
}