@import 'theme';
.line{
    margin:20px 0 0 60px;
    border-left: 1px solid white;
    height: 120px;
}
.social{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:12px 0 0 50px;
    >div{
        margin-bottom: 10px;
    }
}
