
@import url('https://fonts.googleapis.com/css2?family=Fira+Code&display=swap');

$background1:#282C33;
$background2:#ABB2BF;
$primary:#C778DD;
$light:#FFFFFF;
$font1:'Fira Code';
$font2:monospace;
p{
    font-size:14px;
}