@import 'theme';
.container{
    background-color:#282C33;
    >.col2{
    
        >.page_title{
        display: flex;
        justify-content:space-around;
        flex-direction: column;
        margin: 50px 90px;
        >h1{
            color: white;
            >span{
                color:rebeccapurple;
            }
        }
        >p{
            margin-bottom: 20px;
            color: white;
        }
    }
}
}
@media only screen and (max-width: 767px){
    .container>.col2>.page_title{
        margin: 10px 10px;
    }
}